In [1]:
import pandas as pd
import numpy as np

In [2]:
num3 = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
]
num3

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
pd.DataFrame(num3)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
table1 = [
    ['2019-01-05',1000,'False','Gum'],
    ['2019-01-03',3000,'True',"snack"],
    ['2019-01-06',2000,'True',"beverage"],
    ['2019-01-06',1000,'True',"Gum"],
]
pd.DataFrame(table1)

            0     1      2         3
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [5]:
pd.DataFrame(table1,columns=['일자','가격','구매여부','제품'])

           일자    가격   구매여부        제품
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [6]:
colname = ['일자','가격','구매여부','제품']
df1 = pd.DataFrame(table1,columns=colname,index = ['A','B','C','D'])
df1

           일자    가격   구매여부        제품
A  2019-01-05  1000  False       Gum
B  2019-01-03  3000   True     snack
C  2019-01-06  2000   True  beverage
D  2019-01-06  1000   True       Gum

In [7]:
table2 = {
    '일자':['2019-01-01','2019-02-03','2019-02-04'],
    '가격':[200,3000,4000]
}
pd.DataFrame(table2)    #쌍반점 ':' !!

           일자    가격
0  2019-01-01   200
1  2019-02-03  3000
2  2019-02-04  4000