In [3]:
import pandas as pd
import numpy as np

In [5]:
table1 = [
    ['2019-01-05',1000,'False','Gum'],
    ['2019-01-03',3000,'True',"snack"],
    ['2019-01-06',2000,'True',"beverage"],
    ['2019-01-06',1000,'True',"Gum"],
]
pd.DataFrame(table1)

            0     1      2         3
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [6]:
pd.DataFrame(table1,columns=['일자','가격','구매여부','제품'])

           일자    가격   구매여부        제품
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [7]:
colname = ['일자','가격','구매여부','제품']
df1 = pd.DataFrame(table1,columns=colname,index = ['A','B','C','D'])
df1

           일자    가격   구매여부        제품
A  2019-01-05  1000  False       Gum
B  2019-01-03  3000   True     snack
C  2019-01-06  2000   True  beverage
D  2019-01-06  1000   True       Gum

In [8]:
df1.columns

Index(['일자', '가격', '구매여부', '제품'], dtype='object')

In [9]:
df1.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df1.values

array([['2019-01-05', 1000, 'False', 'Gum'],
       ['2019-01-03', 3000, 'True', 'snack'],
       ['2019-01-06', 2000, 'True', 'beverage'],
       ['2019-01-06', 1000, 'True', 'Gum']], dtype=object)

In [12]:
df1.head(5)

           일자    가격   구매여부        제품
A  2019-01-05  1000  False       Gum
B  2019-01-03  3000   True     snack
C  2019-01-06  2000   True  beverage
D  2019-01-06  1000   True       Gum

In [13]:
df1.tail(2)

           일자    가격  구매여부        제품
C  2019-01-06  2000  True  beverage
D  2019-01-06  1000  True       Gum

In [15]:
df1['제품']          #Series 형태로 출력됨

A         Gum
B       snack
C    beverage
D         Gum
Name: 제품, dtype: object

In [16]:
df1[['제품','일자']]       #DataFrame 형태로 출력됨

         제품          일자
A       Gum  2019-01-05
B     snack  2019-01-03
C  beverage  2019-01-06
D       Gum  2019-01-06

In [17]:
df1.info()   #pandas로 구성돼있고, A-D까지 구성돼있고, ....    not-null X missing Data가 없다(?)    DB missing data - 통계적 연산할때 사용

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      4 non-null      object
 1   가격      4 non-null      int64
 2   구매여부    4 non-null      object
 3   제품      4 non-null      object
dtypes: int64(1), object(3)
memory usage: 332.0+ bytes