sorting - 데이터를 순서대로 정리하는 것

In [4]:
import pandas as pd
import numpy as np

In [5]:
table1 = [
    ['2019-01-05',1000,'False','Gum'],
    ['2019-01-03',3000,'True',"snack"],
    ['2019-01-06',2000,'True',"beverage"],
    ['2019-01-06',1000,'True',"Gum"],
]
pd.DataFrame(table1)

            0     1      2         3
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [6]:
pd.DataFrame(table1,columns=['일자','가격','구매여부','제품'])

           일자    가격   구매여부        제품
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [7]:
colname = ['일자','가격','구매여부','제품']
df1 = pd.DataFrame(table1,columns=colname,index = ['A','B','C','D'])
df1

           일자    가격   구매여부        제품
A  2019-01-05  1000  False       Gum
B  2019-01-03  3000   True     snack
C  2019-01-06  2000   True  beverage
D  2019-01-06  1000   True       Gum

In [8]:
df1.sort_index()

           일자    가격   구매여부        제품
A  2019-01-05  1000  False       Gum
B  2019-01-03  3000   True     snack
C  2019-01-06  2000   True  beverage
D  2019-01-06  1000   True       Gum

In [9]:
df1.sort_index(axis=1)  #축을 1로 잡아주면 index순서가 아니라 column 순서대로 정리 할 수 있음

     가격   구매여부          일자        제품
A  1000  False  2019-01-05       Gum
B  3000   True  2019-01-03     snack
C  2000   True  2019-01-06  beverage
D  1000   True  2019-01-06       Gum

In [10]:
df1.sort_index(axis=1,ascending = False)    #뒤에서 부터 가져옴 내림차순으로

         제품          일자   구매여부    가격
A       Gum  2019-01-05  False  1000
B     snack  2019-01-03   True  3000
C  beverage  2019-01-06   True  2000
D       Gum  2019-01-06   True  1000

In [11]:
df1.sort_values(by='일자')    #날짜 순으로 가져올 수 있다

           일자    가격   구매여부        제품
B  2019-01-03  3000   True     snack
A  2019-01-05  1000  False       Gum
C  2019-01-06  2000   True  beverage
D  2019-01-06  1000   True       Gum

In [13]:
df1.sort_values(by='일자',ascending=False).head(2)    #내림차순 2개

           일자    가격  구매여부        제품
C  2019-01-06  2000  True  beverage
D  2019-01-06  1000  True       Gum

In [14]:
df1.sort_values(by=['가격','일자'],ascending=[False,True])  #가격은 내림차순(가격 ->False) , 일자는 오름차순 (일자 ->True)

           일자    가격   구매여부        제품
B  2019-01-03  3000   True     snack
C  2019-01-06  2000   True  beverage
A  2019-01-05  1000  False       Gum
D  2019-01-06  1000   True       Gum