In [1]:
import pandas as pd
import numpy as np

In [2]:
table1 = [
    ['2019-01-05',1000,'False','Gum'],
    ['2019-01-03',3000,'True',"snack"],
    ['2019-01-06',2000,'True',"beverage"],
    ['2019-01-06',1000,'True',"Gum"],
]
pd.DataFrame(table1)

            0     1      2         3
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [3]:
pd.DataFrame(table1,columns=['일자','가격','구매여부','제품'])

           일자    가격   구매여부        제품
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [4]:
colname = ['일자','가격','구매여부','제품']
df1 = pd.DataFrame(table1,columns=colname,index = ['A','B','C','D'])
df1

           일자    가격   구매여부        제품
A  2019-01-05  1000  False       Gum
B  2019-01-03  3000   True     snack
C  2019-01-06  2000   True  beverage
D  2019-01-06  1000   True       Gum

In [5]:
df1.mean()     #가격밖에 연속형자료가 없기 때문에 가격만 나옴

C:\anaconda3\envs\GAT\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

가격    1750.0
dtype: float64

In [6]:
df1['가격'].mean()

1750.0

In [7]:
df1.min()

일자      2019-01-03
가격            1000
구매여부         False
제품             Gum
dtype: object

In [8]:
df1.max()

일자      2019-01-06
가격            3000
구매여부          True
제품           snack
dtype: object

In [9]:
df1['가격'].max()

3000

In [10]:
df1.describe() #DataFrame 형태 #연속형 자료에 대한 모든 요약 정리를 해줌 / 갯수, 평균 , 표준편차, 최솟값,25%에 있는 데이터 , ...

                가격
count     4.000000
mean   1750.000000
std     957.427108
min    1000.000000
25%    1000.000000
50%    1500.000000
75%    2250.000000
max    3000.000000

In [11]:
df1['가격'].describe()    #Series 형태

count       4.000000
mean     1750.000000
std       957.427108
min      1000.000000
25%      1000.000000
50%      1500.000000
75%      2250.000000
max      3000.000000
Name: 가격, dtype: float64

In [12]:
df1['제품'].describe()   #연속형 자료가 아니어도 (명목형 자료) 요약 정리를 해줌

count       4
unique      3
top       Gum
freq        2
Name: 제품, dtype: object

In [13]:
df1['제품','일자','구매여부'].describe()  #여러개로 할 때 Series로 입력하면 에러가 남

KeyError: ('제품', '일자', '구매여부')

In [14]:
df1[['제품','일자','구매여부']].describe()   #DataFrame 으로 입력을 해주어야 함

         제품          일자  구매여부
count     4           4     4
unique    3           3     2
top     Gum  2019-01-06  True
freq      2           2     3

In [15]:
obj1 = ['제품','일자','구매여부']
df1[obj1].describe()    #이렇게하면 편하게 사용 가능

         제품          일자  구매여부
count     4           4     4
unique    3           3     2
top     Gum  2019-01-06  True
freq      2           2     3

In [16]:
df1['제품'].value_counts().sort_values(ascending=False).head(2)     #원하는 데이터만 다 이어서 붙일 수 있음

Gum      2
snack    1
Name: 제품, dtype: int64