In [1]:
import pandas as pd
import numpy as np

In [2]:
table1 = [
    ['2019-01-05',1000,'False','Gum'],
    ['2019-01-03',3000,'True',"snack"],
    ['2019-01-06',2000,'True',"beverage"],
    ['2019-01-06',1000,'True',"Gum"],
]
pd.DataFrame(table1)

            0     1      2         3
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [3]:
pd.DataFrame(table1,columns=['일자','가격','구매여부','제품'])

           일자    가격   구매여부        제품
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [4]:
colname = ['일자','가격','구매여부','제품']
df1 = pd.DataFrame(table1,columns=colname,index = ['A','B','C','D'])
df1

           일자    가격   구매여부        제품
A  2019-01-05  1000  False       Gum
B  2019-01-03  3000   True     snack
C  2019-01-06  2000   True  beverage
D  2019-01-06  1000   True       Gum

- 특정 위치에 있는 데이터를 찾아올 때 사용

In [5]:
df1['제품']

A         Gum
B       snack
C    beverage
D         Gum
Name: 제품, dtype: object

In [6]:
df1[['제품','일자']]

         제품          일자
A       Gum  2019-01-05
B     snack  2019-01-03
C  beverage  2019-01-06
D       Gum  2019-01-06

- location -> 특정 위치에 있는 데이터를 가져온다

In [7]:
df1.loc['B']

일자      2019-01-03
가격            3000
구매여부          True
제품           snack
Name: B, dtype: object

In [8]:
df1.loc['A':'D']   #A~D까지 가져옴

           일자    가격   구매여부        제품
A  2019-01-05  1000  False       Gum
B  2019-01-03  3000   True     snack
C  2019-01-06  2000   True  beverage
D  2019-01-06  1000   True       Gum

In [9]:
df1['가격']['B']   #값만 가져올 수 있음

3000

In [10]:
df1.iloc[0:2]       #위치기반 location   /  loc 항목기반 location

           일자    가격   구매여부     제품
A  2019-01-05  1000  False    Gum
B  2019-01-03  3000   True  snack

In [11]:
#loc는 항목을 써줘야되고 , iloc는 matarix형태로 인지 해서 0~2데이터를 가져온다

In [12]:
df1.iloc[0,2]    #0,2항목에 대한 데이터

'False'

- 비교연산을 이용한 Indexing

In [13]:
df1['가격'] > 2000

A    False
B     True
C    False
D    False
Name: 가격, dtype: bool

In [14]:
df1[df1['가격'] > 2000]    #2000원 이상의 데이터만 데이터 프레임 형태로 가져옴

           일자    가격  구매여부     제품
B  2019-01-03  3000  True  snack

In [15]:
df1[df1['제품'] == 'Gum']

           일자    가격   구매여부   제품
A  2019-01-05  1000  False  Gum
D  2019-01-06  1000   True  Gum

In [16]:
df1[(df1['제품'] == 'Gum')&(df1['구매여부']=='True')]

           일자    가격  구매여부   제품
D  2019-01-06  1000  True  Gum

- and : &

- or : | shift + \

In [17]:
condition1 = (df1['제품']=='Gum')
condition2 = (df1['구매여부']=='True')
df1[condition1|condition2]

           일자    가격   구매여부        제품
A  2019-01-05  1000  False       Gum
B  2019-01-03  3000   True     snack
C  2019-01-06  2000   True  beverage
D  2019-01-06  1000   True       Gum

In [18]:
df1[condition1&condition2]

           일자    가격  구매여부   제품
D  2019-01-06  1000  True  Gum

In [19]:
df1[df1['제품']!='Gum']

           일자    가격  구매여부        제품
B  2019-01-03  3000  True     snack
C  2019-01-06  2000  True  beverage

In [20]:
df1['제품'].isin(['snack'])        #isin => 제품이라는 데이터 안에 snack 이 있냐 없냐

A    False
B     True
C    False
D    False
Name: 제품, dtype: bool

In [21]:
df1[df1['제품'].isin(['snack', 'Gum'])]     #  == 표시를 계속 쓰기 힘드니까 isin을 사용함

           일자    가격   구매여부     제품
A  2019-01-05  1000  False    Gum
B  2019-01-03  3000   True  snack
D  2019-01-06  1000   True    Gum

In [22]:
df1[~df1['제품'].isin(['snack', 'Gum'])]   
#snack이랑 Gum이 없는 자료를 가져오고 싶다 -->  '~' 사용!!
#but and 조건 이용할 때 주의해야함 and도 or로 뒤집힘

           일자    가격  구매여부        제품
C  2019-01-06  2000  True  beverage