In [1]:
import pandas as pd
import numpy as np

In [2]:
table1 = [
    ['2019-01-05',1000,'False','Gum'],
    ['2019-01-03',3000,'True',"snack"],
    ['2019-01-06',2000,'True',"beverage"],
    ['2019-01-06',1000,'True',"Gum"],
]
pd.DataFrame(table1)

            0     1      2         3
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [3]:
pd.DataFrame(table1,columns=['일자','가격','구매여부','제품'])

           일자    가격   구매여부        제품
0  2019-01-05  1000  False       Gum
1  2019-01-03  3000   True     snack
2  2019-01-06  2000   True  beverage
3  2019-01-06  1000   True       Gum

In [4]:
colname = ['일자','가격','구매여부','제품']
df1 = pd.DataFrame(table1,columns=colname,index = ['A','B','C','D'])
df1

           일자    가격   구매여부        제품
A  2019-01-05  1000  False       Gum
B  2019-01-03  3000   True     snack
C  2019-01-06  2000   True  beverage
D  2019-01-06  1000   True       Gum

In [7]:
df1['환불여부'] = '정상'
df1

           일자    가격   구매여부        제품 환불여부
A  2019-01-05  1000  False       Gum   정상
B  2019-01-03  3000   True     snack   정상
C  2019-01-06  2000   True  beverage   정상
D  2019-01-06  1000   True       Gum   정상

In [8]:
df1['환불여부'] = ['정상','환불','환불','정상']   #데이터 갯수 맞춰주지 않으면 에러남
df1

           일자    가격   구매여부        제품 환불여부
A  2019-01-05  1000  False       Gum   정상
B  2019-01-03  3000   True     snack   환불
C  2019-01-06  2000   True  beverage   환불
D  2019-01-06  1000   True       Gum   정상

In [11]:
condition1 = (df1['구매여부'] == 'True') & (df1['환불여부']=='환불')
df1.loc[condition1, '판매여부'] = False   #loc함수를 이용해서 새로운 DataFrame을 만들어줌 
df1.loc[~condition1, '판매여부'] = True
df1

           일자    가격   구매여부        제품 환불여부   판매여부
A  2019-01-05  1000  False       Gum   정상   True
B  2019-01-03  3000   True     snack   환불  False
C  2019-01-06  2000   True  beverage   환불  False
D  2019-01-06  1000   True       Gum   정상   True

In [12]:
df1.info()   #판매여부에 missing data가 2개밖에 없다

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      4 non-null      object
 1   가격      4 non-null      int64
 2   구매여부    4 non-null      object
 3   제품      4 non-null      object
 4   환불여부    4 non-null      object
 5   판매여부    4 non-null      object
dtypes: int64(1), object(5)
memory usage: 224.0+ bytes

In [13]:
df1['가격(clean)']= df1['가격']*2
df1

           일자    가격   구매여부        제품 환불여부   판매여부  가격(clean)
A  2019-01-05  1000  False       Gum   정상   True       2000
B  2019-01-03  3000   True     snack   환불  False       6000
C  2019-01-06  2000   True  beverage   환불  False       4000
D  2019-01-06  1000   True       Gum   정상   True       2000

In [14]:
df1['가격(clean)']=df1['가격'].mean()
df1

           일자    가격   구매여부        제품 환불여부   판매여부  가격(clean)
A  2019-01-05  1000  False       Gum   정상   True     1750.0
B  2019-01-03  3000   True     snack   환불  False     1750.0
C  2019-01-06  2000   True  beverage   환불  False     1750.0
D  2019-01-06  1000   True       Gum   정상   True     1750.0

In [15]:
df2 = df1.drop('가격(clean)',axis=1)     
#drop : 기존의 데이터를 index나 column중심으로 삭제 
df2                                      
#하지만 아직 df1에는 '가격(clean)'이 살아있음     
#drop 은 그냥 눈에서만 안보이게 해주는 것

           일자    가격   구매여부        제품 환불여부   판매여부
A  2019-01-05  1000  False       Gum   정상   True
B  2019-01-03  3000   True     snack   환불  False
C  2019-01-06  2000   True  beverage   환불  False
D  2019-01-06  1000   True       Gum   정상   True

In [16]:
df1.drop('가격(clean)',axis=1, inplace = True)    #inplace = True -> 진짜 column 자체에서 삭제를 시켜줌 inplace  (잘 안씀)

In [21]:
df1.drop(['가격(clean)','판매여부'].axis=1.inplace=True)   #가격이 이미 삭제돼서 오류로 뜸

SyntaxError: invalid syntax (CreatorTemp/ipykernel_16964/3702972198.py, line 1)

In [18]:
df1['환불여부(clean)'] = df1['환불여부'].replace('정상',1).replace('환불',0)
df1

           일자    가격   구매여부        제품 환불여부   판매여부  환불여부(clean)
A  2019-01-05  1000  False       Gum   정상   True            1
B  2019-01-03  3000   True     snack   환불  False            0
C  2019-01-06  2000   True  beverage   환불  False            0
D  2019-01-06  1000   True       Gum   정상   True            1