In [1]:
import pandas as pd
import numpy as np

In [2]:
url_data = 'http://46.101.230.157/dilan/pandas_tutorial_read.csv'
df2 = pd.read_csv(url_data, delimiter = ';',header = None,
                 names= ['datatime','event','country','user_id','source','topic']) #;을 바꿔줌 ,으로 인식을해서 원래 #header를 숫자로 바꿔주고 다시 이름 붙여줌
df2.head(15)

               datatime event    country     user_id   source          topic
0   2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1   2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2   2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3   2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4   2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5   2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6   2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7   2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8   2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9   2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10  2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
11  2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
12  2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
13  2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
14  2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa

In [10]:
import seaborn as sns
iris = sns.load_dataset("iris")
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
df1 = pd.read_csv(r'C:\Users\김낙겸\Desktop\pandas_tutorial_read.csv')       #경로상에 한글이름이 있으면 engine 써주면 됨