In [2]:
import pandas as pd
import numpy as np

In [13]:
import seaborn as sns
iris = sns.load_dataset("iris")
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [15]:
df1.groupby().mean()    #요일별로 연속별 항목에 대해서 평균을 취해줌   #pivoting할 때 groupby를 사용함

TypeError: You have to supply one of 'by' and 'level'

In [ ]:
http://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data

출처: https://rfriend.tistory.com/383 [R, Python 분석과 프로그래밍의 친구 (by R Friend)]

In [16]:
url_data = 'http://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data'

In [18]:
df2 = pd.read_csv(url_data, delimiter = ';',header = None,
                 names= ['datatime','event','country','user_id','source','topic'])

In [21]:
abalone = pd.read_csv(r"C:\Users\김낙겸\Desktop\abalone.txt", 
                      sep=",", 
                      names = ['sex', 'length', 'diameter', 'height', 
                               'whole_weight', 'shucked_weight', 'viscera_weight', 
                               'shell_weight', 'rings'], 
                      header = None)

In [22]:
abalone

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [23]:
abalone.groupby(abalone['sex']).mean()      #sex별로 연속별 항목에 대해서 평균을 취해줌   #pivoting할 때 groupby를 사용함

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
sex,,,,,,,,
F,0.579093,0.454732,0.158011,1.046532,0.446188,0.230689,0.302010,11.129304
I,0.427746,0.326494,0.107996,0.431363,0.191035,0.092010,0.128182,7.890462
M,0.561391,0.439287,0.151381,0.991459,0.432946,0.215545,0.281969,10.705497

In [25]:
abalone.groupby('sex')['shell_weight'].mean()

sex
F    0.302010
I    0.128182
M    0.281969
Name: shell_weight, dtype: float64

In [26]:
abalone.groupby('sex')['shell_weight'].sum()

sex
F    394.7270
I    172.0205
M    430.8490
Name: shell_weight, dtype: float64

In [27]:
abalone.groupby(['sex','length'])['shell_weight'].sum()

sex  length
F    0.275     0.0250
     0.290     0.0750
     0.305     0.0930
     0.325     0.0620
     0.330     0.0700
                ...
M    0.760     1.2060
     0.765     1.1540
     0.770     1.5810
     0.775     1.2365
     0.780     0.6745
Name: shell_weight, Length: 317, dtype: float64

In [28]:
#보통 주차별로 보는 걸 좋아함

- Pivot_Talbe : trend를 파악할 수 있음

In [30]:
pd.pivot_table(data = abalone, index='sex',values = 'shell_weight', aggfunc='sum')  #DataFrame으로 이쁘게 뽑을 수 있음

     shell_weight
sex
F        394.7270
I        172.0205
M        430.8490

In [31]:
result1 = pd.pivot_table(data = abalone, index=['sex','length'],values = 'shell_weight', aggfunc='sum')  #sex별 length별 shell_weight 총합
result1

            shell_weight
sex length
F   0.275         0.0250
    0.290         0.0750
    0.305         0.0930
    0.325         0.0620
    0.330         0.0700
...                  ...
M   0.760         1.2060
    0.765         1.1540
    0.770         1.5810
    0.775         1.2365
    0.780         0.6745

[317 rows x 1 columns]

In [33]:
result2 = pd.pivot_table(data = abalone, index=['sex','length'],values = 'shell_weight', aggfunc='sum')  #sex별 length별 shell_weight 총합
result2.reset_index().head(15)

   sex  length  shell_weight
0    F   0.275        0.0250
1    F   0.290        0.0750
2    F   0.305        0.0930
3    F   0.325        0.0620
4    F   0.330        0.0700
5    F   0.335        0.0500
6    F   0.340        0.0500
7    F   0.345        0.1915
8    F   0.350        0.1300
9    F   0.360        0.1885
10   F   0.370        0.5370
11   F   0.375        0.4395
12   F   0.380        0.6290
13   F   0.385        0.3435
14   F   0.390        0.1765

In [35]:
result3 = pd.pivot_table(data = abalone, index=['sex','length'],values = 'shell_weight', aggfunc='sum')  #sex별 length별 shell_weight 총합
result3.reset_index().sort_values(by='shell_weight',ascending = False).head(3)                #python의 장점이 다 들어가있음

    sex  length  shell_weight
286   M   0.630       16.5255
61    F   0.625       15.4235
290   M   0.650       15.2275