In [1]:
import pandas as pd
import numpy as np

In [8]:
table1 = [
    ['20190105',1000,'False','Gum'],
    ['20190103',3000,'True',"snack"],
    ['20190106',2000,'True',"beverage"],
    ['20190106',1000,'True',"Gum"],
]
pd.DataFrame(table1)

          0     1      2         3
0  20190105  1000  False       Gum
1  20190103  3000   True     snack
2  20190106  2000   True  beverage
3  20190106  1000   True       Gum

In [9]:
pd.DataFrame(table1,columns=['일자','가격','구매여부','제품'])

         일자    가격   구매여부        제품
0  20190105  1000  False       Gum
1  20190103  3000   True     snack
2  20190106  2000   True  beverage
3  20190106  1000   True       Gum

In [10]:
colname = ['일자','가격','구매여부','제품']
df1 = pd.DataFrame(table1,columns=colname,index = ['A','B','C','D'])
df1

         일자    가격   구매여부        제품
A  20190105  1000  False       Gum
B  20190103  3000   True     snack
C  20190106  2000   True  beverage
D  20190106  1000   True       Gum

In [11]:
pd.to_datetime(df1['일자'])

A   2019-01-05
B   2019-01-03
C   2019-01-06
D   2019-01-06
Name: 일자, dtype: datetime64[ns]

In [12]:
df1['datetime'] = pd.to_datetime(df1['일자'], format='%Y%m%d')
df1.head()

         일자    가격   구매여부        제품   datetime
A  20190105  1000  False       Gum 2019-01-05
B  20190103  3000   True     snack 2019-01-03
C  20190106  2000   True  beverage 2019-01-06
D  20190106  1000   True       Gum 2019-01-06